<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.0.xsd语义约束 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
">
	<bean class="test.InstantiationTracingBeanPostProcessor"/>
	<bean id="imgTool" class="test.ImgTool"/>
	<!-- 让Spring管理的Action实例 -->
	<bean id="submitTest" class="test.Test"
		scope="prototype">
		<!-- 依赖注入业务逻辑组件 -->
		<property name="imgTool" ref="imgTool"/>
	</bean>
	<bean id="deletePic" class="test.task.Task" />
	<bean id="Filters" class="test.Filters">
		<!-- 依赖注入业务逻辑组件 -->
		<property name="filters">
		    <map>
		        <entry key="binarization" value="黑白" />
		        <entry key="graying" value="灰度" />
		        <entry key="txtCleanWaterMarkByOtsu" value="文本去水印" />
		    </map>
		</property>
	</bean>	
	
	<task:scheduled-tasks> 
        <task:scheduled ref="deletePic" method="deletePic" cron="0 0/1 * * * ?"/> 
    </task:scheduled-tasks> 

</beans>

