<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.0.xsd语义约束 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean class="test.InstantiationTracingBeanPostProcessor"/>
	<bean id="imgTool" class="test.ImgTool"/>
	<!-- 让Spring管理的Action实例 -->
	<bean id="submitTest" class="test.Test"
		scope="prototype">
		<!-- 依赖注入业务逻辑组件 -->
		<property name="imgTool" ref="imgTool"/>
	</bean>
</beans>

